@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "mixin.less";

body{
	background: url(../images/background.png) left 70px no-repeat @background-color;
	font: @font-size-base/30px @font-base;
	letter-spacing: -0.2px;
}
header{
	.gradient-x(@color-2, @color-default 50%);
	padding: 5px 0;
	margin-bottom: 50px;
	.logo img{max-height: 52px;}
	a.button{margin: 6px 0 0;}
}
a{
	&:hover, &:focus{
		text-decoration: none;
	}
}
.register-block1{
	color: @color-2;
	font-weight: 300;
	h2{
		font-weight: 400;
	}
	p{font: 300 16px @font-2; }
	img{margin-bottom: 20px;}
}
.link-to{
	line-height: 30px;
	p{
		font-family: @font-2;
		color: @color-2;
	}
}
.button{
	background: #fff;
	.border-radius(5px);
	padding: 5px 15px;
	color: @color-2;
	line-height: 30px;
	font-size: 24px;
	margin-right: 6px;
	&.btn-info{
		background: @color-2;
		color: #fff;
		padding: 0 7px;
	}
}
h3{
	color: @color-default;
}
input, textarea, select{
	border: 1px solid @border-color;
	.border-radius(5px);
	min-height: 37px;
	line-height: 25px;
	padding: 5px 15px;
	.float-left-w(100%);
	margin: 5px 0;
	&:focus{
		outline: none;
	}
}
input.checkbox{
	min-height: 16px;
	width: 16px;
	margin: 6px 6px 0 0;
}
button{
	background: @color-default;
	border: none;
	.border-radius(5px);
	.size(80%,30px);
	.center-block();
	color: #fff;
	margin-top: 10px;
	font-size: 19px;
}

.login-content{
	max-width: 500px;
	.center-block();
}
.form-omnicha{
	max-width: 500px;
	background: #fff;
	padding: 30px 50px;
	margin-bottom: 15px;
	.border-radius(3px);
	h3{
		text-align: center;
	}
	.using-as{
		text-align: center;
		span{color: @color-default; font-size: 19px;}
		a{
			.border-radius(5px);
			padding: 2px 20px;
			margin: 0 5%;
			color: #fff;
			font-size: 15px;
			display: inline-block;
    		line-height: 22px;
			.fa{font-size: 20px; margin-right: 8px;}
			&.facebook{
				background: #3C5A99;
			}
			&.google-plus{
				background: #F5511E;
			}
		}
	}
	.url-omnicha{
		position: relative;
		.float-left-w(100%);
		p{
			font: 400 10px @font-2;
			color: @border-color;
			span{color: @color-2;}
		}
		.suffix-url{
			position: absolute;
			right: 1px;
			top: 6px;
			padding-right: 28px;
			padding-left: 3px;
			line-height: 35px;
			background: @background-color;
			.rtl-border-radius(0,5px,5px,0);
		}
	}
}
.btn{
	.float-right-w(auto); 
	margin-left: 10px; 
	border: 1px solid @border-color;
	font-size: 19px;
	color: @border-color;
	padding: 2px 15px;
	background: #fff;
}
.page-omnicha {
	font-size: 19px;
	font-family: @font-2;
	.center-block();
	.btn-info{background: @color-2;}
}
.block-checkbox{
	float: left;
	text-align: center;
	position: relative;
	padding: 20px 10px;
	margin-bottom: 28px;
	background: #fff;
	.size(100%,180px);
	.border-radius(5px);
	border: 1px solid @border-color;
	img{margin-bottom: 10px;}
	strong{color: @color-2;}
	.checkbox{
		position: absolute;
		top: 5px; right: 5px;
	}
}

.page-install{
	background: #FCFCFC;
	padding: 20px 20px 50px;
	text-align: center;
	.center-block();
	.border-radius(10px);
	.box-shadow(5px 5px 15px #999);
	input#step-name{
		float: none;
		border: none;
		text-align: center;
		background: transparent;
	}
}
.process-bar{
	background: @background-color;
	.size(70%, 10px);
	.border-radius(20px);
	overflow: hidden;
	position: relative;
	.center-block();
	margin-top: 10%;
	margin-bottom: 10px;
	span{
		position: absolute;
		left: 0;
		top: 0;
		.size(calc(100%/3),10px);
		background: #FDC00F;
		.animation(translateX 60s linear 0s);
	}
}

.rotate360 {
	.animation(rotate360 60s linear 0s);
	margin-top: -20px;
	&.icon4{
		margin-top: 50px;
    	margin-left: -15px;
	}
}


@media (min-width: 991px){
	.register-block1{margin-right: 8%;}
	.register{margin-left: 8%;}
	.page-omnicha {
		margin: 0 auto;
	    width: 60%;
	}
	.block-checkbox{
		width: 290px;
		&.block-checkbox-right {
			float: right;
		}
	}
	.page-install{width: 60%;}
}