#csstop {
  background: #fff;
}

li {
  list-style-type: none;
}

#cssmenu {
  background: #81479E;
}

#cssmenu ul li {
  margin-top: 10px;
}

#cssmenu ul li a {
  color: #FFF;
}

#menu {
  background-color: #980a0a;
}

#menu #myNavbar {
  background-color: #980a0a;
}

#menu #myNavbar .dropdown-menu {
  background-color: #980a0a;
}

#menu #myNavbar .dropdown-menu li a:hover {
  background-color: #bc0a0a !important;
  color: #000;
}

#menu ul li:hover ul {
  display: block;
}

#menu ul li a {
  color: #fff;
  font-size: 16px;
}

#menu ul li a:hover {
  background-color: #bc0a0a;
}

#def .panel-default h3 {
  display: block;
}

#def .panel-default .col-sm-3 {
  margin-bottom: 1%;
}

#def .panel-default .col-sm-3 p a img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

#def .panel-default .col-sm-3 p b a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 38px;
}

#def .panel-default .col-sm-3 p i {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 98px;
}

#def .left_home .col-sm-12 p a img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

#def .left_home .col-sm-12 p b a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 38px;
}

#def .left_home .col-sm-12 p i {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 98px;
}

#def .right_home .col-sm-3 {
  margin-bottom: 1%;
}

#def .right_home .col-sm-3 p a img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

#def .right_home .col-sm-3 p b a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 38px;
}

#def .right_home .col-sm-3 p i {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 98px;
}
/*# sourceMappingURL=style.css.map */