$xanh : #005b9c;

#csstop{
	background:#fff;
}
li{
	list-style-type: none;
}
#cssmenu{
	background: #81479E;
}

#cssmenu ul li {
	margin-top: 10px;
}
#cssmenu ul li a{
	color: #FFF;
}
#menu {
	background-color: #980a0a;
	#myNavbar{
		background-color: #980a0a;
		.dropdown-menu{
			background-color: #980a0a;
			li{
				a{
					&:hover{
						background-color: #bc0a0a !important;
						color: #000;
					}	
				}
			}
		}
	}
	ul{
		li{
			&:hover{
				ul{
					display: block;
				}
			}
			a{
				color: #fff;
				font-size: 16px;
				&:hover{
					background-color: #bc0a0a;
				}
			}
		}
	}
}
#def{
	.panel-default{
		h3{
			display: block;
		}
		.col-sm-3{
			margin-bottom: 1%;
			p{
				a{
					img{
						width: 100%;
						height: 100px;
						object-fit: cover;
					}
				}
				b{
					a{
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						max-height: 38px;
					}
				}
				i{
					display: -webkit-box;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
					overflow: hidden;
					max-height: 98px;
				}
			}
		}
	}
	.left_home{
		.col-sm-12{
			p{
				a{
					img{
						width: 100%;
						height: 240px;
						object-fit: cover;
					}
				}
				b{
					a{
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						max-height: 38px;
					}
				}
				i{
					display: -webkit-box;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
					overflow: hidden;
					max-height: 98px;
				}
			}
		}
	}
	.right_home{
		.col-sm-3{
			margin-bottom: 1%;
			p{
				a{
					img{
						width: 100%;
						height: 100px;
						object-fit: cover;
					}
				}
				b{
					a{
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						max-height: 38px;
					}
				}
				i{
					display: -webkit-box;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
					overflow: hidden;
					max-height: 98px;
				}
			}
		}
	}
}